{% extends '_base.html'  %}

{% block content %}

{{ super() }}


<h2>Login as a user</h2>
<form action="" method="post">
    {{ form_user.hidden_tag() }}
    {{ form_user.name.label }}
        {{ form_user.name }}
    {{ form_user.room.label }}
        {{ form_user.room }}
        {{ form_user.submit }}


</form>

<h2>Create a new transmission</h2>
<form action="" method="post">
    {{ form_user.hidden_tag() }}
    {{ form_commentator.room_admin.label }}
        {{ form_commentator.room_admin }}
    {{ form_commentator.submit }}
</form>



{% endblock %}
